@charset "UTF-8";


@media only screen and (max-width: 480px) {
    main {
        & p#local {
            font-size: 1.5em;
        }
        & p#hora-atual {
            font-size: 5em;
            font-weight: 300;
            line-height: 1.25em;
        }
        & p#data {
            font-size: 1.5em;
            margin: 0px 20px 200px 20px;
        }
    }

    section {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        margin: auto;
    }

    .local-mundo {
        width: 90% !important;
        height: 100px;
        margin: 15px auto;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px){
    main {
        & p#local {
            font-size: 1.5em;
        }
        & p#hora-atual {
            font-size: 5em;
            font-weight: 300;
            line-height: 1.25em;
        }
        & p#data {
            font-size: 1.5em;
            margin: 0px 20px 200px 20px;
        }
    }

    section {
        display: grid;
        grid-template-columns: 1fr;
        place-items: center;
        margin: auto;
    }

    .local-mundo {
        width: 90% !important;
        height: 200px;
        margin: 15px auto;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1120px) {
    main {
        & p#local {
            font-size: 2em;
        }
        & p#hora-atual {
            font-size: 8em;
            font-weight: 300;
            line-height: 1.25em;
        }
        & p#data {
            font-size: 2em;
            margin: 0px 20px 200px 20px;
        }
    }

    section {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        place-items: center;
        gap: 15px;
    }

    .local-mundo {
        width: 80% !important;
        height: 200px;
        margin: 15px;
    }

    section#aside {
        order: 3;
    }
}